{
    "openapi": "3.0.0",
    "info": {
        "version": "v3_0_0",
        "title": "API URI: /search/warehouse",
        "description": "An Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).  Generated by psd2-generator: https://github.com/ericbroda/psd2-generator",
        "termsOfService": "http://exmple.com/license/"
    },
    "servers": [
        {
            "description": "An Open Source API for Banks.",
            "url": "http://apisandbox.openbankproject.com/obp/v3_0_0"
        }
    ],
    "paths": {
        "/search/warehouse": {
            "post": {
                "summary": "Search Warehouse Data Via Elasticsearch",
                "description": "<p>Search warehouse data via Elastic Search.</p><p>Login is required.</p><p>CanSearchWarehouse entitlement is required to search warehouse data!</p><p>Send your email, name, project name and user_id to the admins to get access.</p><p>Elastic (search) is used in the background. See links below for syntax.</p><p>This version differs from v2.0.0</p><p>Example of usage:</p><p>POST /search/warehouse</p><p>{  \"es_uri_part\": \"/THE_INDEX_YOU_WANT_TO_USE/_search?pretty=true\",  \"es_body_part\": {  \"query\":",
                "operationId": "V300ElasticSearchWarehouseV300",
                "deprecated": 0,
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Success"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": []
    }
}