{
    "openapi": "3.0.0",
    "info": {
        "version": "v3_0_0",
        "title": "API URI: /banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/transaction",
        "description": "An Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).  Generated by psd2-generator: https://github.com/ericbroda/psd2-generator",
        "termsOfService": "http://exmple.com/license/"
    },
    "servers": [
        {
            "description": "An Open Source API for Banks.",
            "url": "http://apisandbox.openbankproject.com/obp/v3_0_0"
        }
    ],
    "paths": {
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/transaction": {
            "get": {
                "summary": "Get Transaction by Id.",
                "description": "<p>Returns one transaction specified by TRANSACTION_ID of the account ACCOUNT_ID and <a href=\"#1_2_1-getViewsForBankAccount\">moderated</a> by the view (VIEW_ID).</p><p>Authentication is Optional Authentication is required if the view is not public.</p>",
                "operationId": "V121GetTransactionByIdForBankAccount",
                "deprecated": 0,
                "parameters": [
                    {
                        "name": "TRANSACTION_ID",
                        "in": "path",
                        "description": "The transaction id"
                    },
                    {
                        "name": "VIEW_ID",
                        "in": "path",
                        "description": "The view id"
                    },
                    {
                        "name": "ACCOUNT_ID",
                        "in": "path",
                        "description": "The account id"
                    },
                    {
                        "name": "BANK_ID",
                        "in": "path",
                        "description": "The bank id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": []
    }
}