{
    "openapi": "3.0.0",
    "info": {
        "version": "v3_0_0",
        "title": "API URI: /banks/{BANK_ID}/atms",
        "description": "An Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).  Generated by psd2-generator: https://github.com/ericbroda/psd2-generator",
        "termsOfService": "http://exmple.com/license/"
    },
    "servers": [
        {
            "description": "An Open Source API for Banks.",
            "url": "http://apisandbox.openbankproject.com/obp/v3_0_0"
        }
    ],
    "paths": {
        "/banks/{BANK_ID}/atms": {
            "get": {
                "summary": "Get Bank ATMS",
                "description": "<p>Returns information about ATMs for a single bank specified by BANK_ID including:</p><ul>  <li>Address</li>  <li>Geo Location</li>  <li>License the data under this endpoint is released under</li></ul><p>Pagination:| By default, 100 records are returned.</p><p>You can use the url query parameters <em>limit</em> and <em>offset</em> for pagination</p><p>Authentication is Optional</p>",
                "operationId": "V300GetAtms",
                "deprecated": 0,
                "parameters": [
                    {
                        "name": "BANK_ID",
                        "in": "path",
                        "description": "The bank id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "summary": "Create ATM",
                "description": "<p>Create ATM for the Bank.</p><p>Authentication is Mandatory</p><p>OBP-20006: User is missing one or more roles: CanCreateAtm OR CanCreateAtmAtAnyBank</p>",
                "operationId": "V300CreateAtm",
                "deprecated": 0,
                "parameters": [
                    {
                        "name": "BANK_ID",
                        "in": "path",
                        "description": "The bank id"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": []
    }
}