{
    "openapi": "3.0.0",
    "info": {
        "version": "v3_0_0",
        "title": "API URI: /banks/{BANK_ID}/accounts/{ACCOUNT_ID}/views",
        "description": "An Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).  Generated by psd2-generator: https://github.com/ericbroda/psd2-generator",
        "termsOfService": "http://exmple.com/license/"
    },
    "servers": [
        {
            "description": "An Open Source API for Banks.",
            "url": "http://apisandbox.openbankproject.com/obp/v3_0_0"
        }
    ],
    "paths": {
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/views": {
            "get": {
                "summary": "Get Views for Account.",
                "description": "<h1>Views</h1><p>Views in Open Bank Project provide a mechanism for fine grained access control and delegation to Accounts and Transactions. Account holders use the 'owner' view by default. Delegated access is made through other views for example 'accountants', 'share-holders' or 'tagging-application'. Views can be created via the API and each view has a list of entitlements.</p><p>Views on accounts and transactions filter the underlying data to redact certain fields for certain users. For insta",
                "operationId": "V300GetViewsForBankAccount",
                "deprecated": 0,
                "parameters": [
                    {
                        "name": "ACCOUNT_ID",
                        "in": "path",
                        "description": "The account id"
                    },
                    {
                        "name": "BANK_ID",
                        "in": "path",
                        "description": "The bank id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "summary": "Create View.",
                "description": "<p>Create a view on bank account</p><p>OAuth authentication is required and the user needs to have access to the owner view.  The 'alias' field in the JSON can take one of three values:</p><ul>  <li><em>public</em>: to use the public alias if there is one specified for the other account.</li>  <li><em>private</em>: to use the public alias if there is one specified for the other account.</li>  <li>  <p><em>''(empty string)</em>: to use no alias; the view shows the real name of the other account.<",
                "operationId": "V300CreateViewForBankAccount",
                "deprecated": 0,
                "parameters": [
                    {
                        "name": "ACCOUNT_ID",
                        "in": "path",
                        "description": "The account id"
                    },
                    {
                        "name": "BANK_ID",
                        "in": "path",
                        "description": "The bank id"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": []
    }
}