{
    "openapi": "3.0.0",
    "info": {
        "version": "v3_0_0",
        "title": "API URI: /banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/COUNTERPARTY/transaction-requests",
        "description": "An Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).  Generated by psd2-generator: https://github.com/ericbroda/psd2-generator",
        "termsOfService": "http://exmple.com/license/"
    },
    "servers": [
        {
            "description": "An Open Source API for Banks.",
            "url": "http://apisandbox.openbankproject.com/obp/v3_0_0"
        }
    ],
    "paths": {
        "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/COUNTERPARTY/transaction-requests": {
            "post": {
                "summary": "Create Transaction Request (COUNTERPARTY)",
                "description": "<p>Special instructions for COUNTERPARTY:</p><p>When using a COUNTERPARTY to create a Transaction Request, specificy the counterparty_id in the body of the request. The routing details of the counterparty will be forwarded for the transfer.</p><p>Initiate a Payment via creating a Transaction Request.</p><p>In OBP, a <code>transaction request</code> may or may not result in a <code>transaction</code>. However, a <code>transaction</code> only has one possible state: completed.</p><p>A <code>Transa",
                "operationId": "V210CreateTransactionRequestCouterparty",
                "deprecated": 0,
                "parameters": [
                    {
                        "name": "VIEW_ID",
                        "in": "path",
                        "description": "The view id"
                    },
                    {
                        "name": "ACCOUNT_ID",
                        "in": "path",
                        "description": "The account id"
                    },
                    {
                        "name": "BANK_ID",
                        "in": "path",
                        "description": "The bank id"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": []
    }
}