{
    "openapi": "3.0.0",
    "info": {
        "version": "v3_1_0",
        "title": "OpenBankProject-API-Metric",
        "description": "An Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL and commercial licences.",
        "termsOfService": "http://exmple.com/license/"
    },
    "servers": [
        {
            "description": "An Open Source API for Banks.",
            "url": "http://api.openbankproject.com/obp-api-metric"
        }
    ],
    "paths": {
        "/obp/v2.0.0/search/metrics": {
            "get": {
                "summary": "Search API Metrics via Elasticsearch.",
                "description": "<p>Search the API calls made to this API instance via Elastic Search.</p><p>Login is required.</p><p>CanSearchMetrics entitlement is required to search metrics data.</p><p>parameters:</p><p>esType - elasticsearch type</p><p>simple query:</p><p>q - plain_text_query</p><p>df - default field to search</p><p>sort - field to sort on</p><p>size - number of hits returned, default 10</p><p>from - show hits starting from</p><p>json query:</p><p>source - JSON_query_(URL-escaped)</p><p>example usage:</p><p",
                "operationId": "Vv200ElasticSearchMetrics",
                "deprecated": 0,
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$href": "#/components/schemas/EmptyClassJson"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/obp/v2.1.0/management/metrics": {
            "get": {
                "summary": "Get Metrics",
                "description": "<p>Get the all metrics</p><p>require CanReadMetrics role</p><p>Filters Part 1.*filtering* (no wilde cards etc.) parameters to GET /management/metrics</p><p>Should be able to filter on the following metrics fields</p><p>eg: /management/metrics?from_date=2017-09-19T02:31:05.000Z&amp;to_date=2017-09-19T02:31:05.000Z&amp;limit=50&amp;offset=2</p><p>1 from_date (defaults to one week before current date): eg:from_date=2017-09-19T02:31:05.000Z</p><p>2 to_date (defaults to current date) eg:to_date=2017-",
                "operationId": "Vv210GetMetrics",
                "deprecated": 0,
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$href": "#/components/schemas/EmptyClassJson"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/obp/v2.2.0/management/connector/metrics": {
            "get": {
                "summary": "Get Connector Metrics",
                "description": "<p>Get the all metrics</p><p>require CanGetConnectorMetrics role</p><p>Filters Part 1.*filtering* (no wilde cards etc.) parameters to GET /management/connector/metrics</p><p>Should be able to filter on the following metrics fields</p><p>eg: /management/connector/metrics?from_date=2017-09-19&amp;to_date=2017-09-19&amp;limit=50&amp;offset=2</p><p>1 from_date (defaults to one week before current date): eg:from_date=2017-09-19</p><p>2 to_date (defaults to current date) eg:to_date=2017-09-19</p><p>3 ",
                "operationId": "Vv220GetConnectorMetrics",
                "deprecated": 0,
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$href": "#/components/schemas/EmptyClassJson"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/obp/v3.0.0/management/aggregate-metrics": {
            "get": {
                "summary": "Get Aggregate Metrics",
                "description": "<p>Returns aggregate metrics on api usage eg. total count, response time (in ms), etc.</p><p>Should be able to filter on the following fields</p><p>eg: /management/aggregate-metrics?from_date=2017-09-19T02:31:05.000Z&amp;to_date=2017-09-19T02:31:05.000Z&amp;consumer_id=5 &amp;user_id=66214b8e-259e-44ad-8868-3eb47be70646&amp;implemented_by_partial_function=getTransactionsForBankAccount &amp;implemented_in_version=v3.0.0&amp;url=/obp/v3.0.0/banks/gh.29.uk/accounts/8ca8a7e4-6d02-48e3-a029-0b2bf89de",
                "operationId": "Vv300GetAggregateMetrics",
                "deprecated": 0,
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$href": "#/components/schemas/EmptyClassJson"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/obp/v3.1.0/management/metrics/top-apis": {
            "get": {
                "summary": "get top apis",
                "description": "<p>Returns get top apis. eg. total count, response time (in ms), etc.</p><p>Should be able to filter on the following fields</p><p>eg: /management/metrics/top-apis?from_date=2017-09-19T02:31:05.000Z&amp;to_date=2017-09-19T02:31:05.000Z&amp;consumer_id=5 &amp;user_id=66214b8e-259e-44ad-8868-3eb47be70646&amp;implemented_by_partial_function=getTransactionsForBankAccount &amp;implemented_in_version=v3.0.0&amp;url=/obp/v3.0.0/banks/gh.29.uk/accounts/8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0/owner/transact",
                "operationId": "Vv310GetTopAPIs",
                "deprecated": 0,
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$href": "#/components/schemas/EmptyClassJson"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/obp/v3.1.0/management/metrics/top-consumers": {
            "get": {
                "summary": "get metrics top consumers",
                "description": "<p>get metrics top consumers on api usage eg. total count, consumer_id and app_name.</p><p>Should be able to filter on the following fields</p><p>eg: /management/metrics/top-consumers?from_date=2017-09-19T02:31:05.000Z&amp;to_date=2017-05-22T01:02:03.000Z&amp;consumer_id=5 &amp;user_id=66214b8e-259e-44ad-8868-3eb47be70646&amp;implemented_by_partial_function=getTransactionsForBankAccount &amp;implemented_in_version=v3.0.0&amp;url=/obp/v3.0.0/banks/gh.29.uk/accounts/8ca8a7e4-6d02-48e3-a029-0b2bf89",
                "operationId": "Vv310GetMetricsTopConsumers",
                "deprecated": 0,
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$href": "#/components/schemas/EmptyClassJson"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "EmptyClassJson": {
                "type": "object",
                "properties": {
                    "jsonString": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "ErrorUserNotLoggedIn": {
                "type": "object",
                "properties": {
                    "message": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "MetricsJson": {
                "type": "object",
                "properties": {
                    "metrics": {
                        "description": "",
                        "type": "array"
                    }
                }
            },
            "metrics": {
                "type": "array"
            },
            "MetricJson": {
                "type": "object",
                "properties": {
                    "duration": {
                        "description": "",
                        "type": "integer"
                    },
                    "implemented_in_version": {
                        "description": "",
                        "type": "string"
                    },
                    "url": {
                        "description": "",
                        "type": "string"
                    },
                    "correlation_id": {
                        "description": "",
                        "type": "string"
                    },
                    "implemented_by_partial_function": {
                        "description": "",
                        "type": "string"
                    },
                    "user_id": {
                        "description": "",
                        "type": "string"
                    },
                    "developer_email": {
                        "description": "",
                        "type": "string"
                    },
                    "date": {
                        "description": "",
                        "type": "string"
                    },
                    "consumer_id": {
                        "description": "",
                        "type": "string"
                    },
                    "verb": {
                        "description": "",
                        "type": "string"
                    },
                    "app_name": {
                        "description": "",
                        "type": "string"
                    },
                    "user_name": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "ConnectorMetricsJson": {
                "type": "object",
                "properties": {
                    "metrics": {
                        "description": "",
                        "type": "array"
                    }
                }
            },
            "ConnectorMetricJson": {
                "type": "object",
                "properties": {
                    "connector_name": {
                        "description": "",
                        "type": "string"
                    },
                    "duration": {
                        "description": "",
                        "type": "integer"
                    },
                    "function_name": {
                        "description": "",
                        "type": "string"
                    },
                    "correlation_id": {
                        "description": "",
                        "type": "string"
                    },
                    "date": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "ErrorInvalidDateFormat": {
                "type": "object",
                "properties": {
                    "message": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "AggregateMetricJSON": {
                "type": "object",
                "properties": {
                    "maximum_response_time": {
                        "description": "",
                        "type": "number"
                    },
                    "minimum_response_time": {
                        "description": "",
                        "type": "number"
                    },
                    "average_response_time": {
                        "description": "",
                        "type": "number"
                    },
                    "count": {
                        "description": "",
                        "type": "integer"
                    }
                }
            },
            "$colon$colon": {
                "type": "object",
                "properties": {
                    "tl": {
                        "description": "",
                        "type": ""
                    },
                    "head": {
                        "description": "",
                        "type": ""
                    }
                }
            },
            "tl": {
                "type": "object"
            },
            "head": {
                "type": "object"
            },
            "TopConsumerJson": {
                "type": "object",
                "properties": {
                    "developer_email": {
                        "description": "",
                        "type": "string"
                    },
                    "app_name": {
                        "description": "",
                        "type": "string"
                    },
                    "consumer_id": {
                        "description": "",
                        "type": "string"
                    },
                    "count": {
                        "description": "",
                        "type": "integer"
                    }
                }
            }
        }
    }
}